<?xml version="1.0" encoding="ISO-8859-1"?>
<Policy version="0.1" type="value" model="milos-aaai97_95.POMDP" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="policyx.xsd">
<AlphaVector vectorLength="20" numObsValue="1" numVectors="50">
<Vector action="2" obsValue="0"> </Vector>
<Vector action="1" obsValue="0"> </Vector>
<Vector action="1" obsValue="0"> </Vector>
<Vector action="1" obsValue="0"> </Vector>
<Vector action="1" obsValue="0"> </Vector>


</AlphaVector> </Policy>
